{
  "pages": [
    {
      "fields": {
        "title": "Accueil",
        "slug": "index",
        "sub_slug": "",
        "description": "",
        "template_name": "standard",
        "parent": null,
        "order": 1,
        "exclude_from_navigation": true,
        "redirect_url": "",
        "public": true,
        "creation_timestamp": "2021-02-22T10:37:35.981Z",
        "last_update_timestamp": "2021-02-22T10:38:17.518Z",
        "picture": "",
        "snapshot": null,
        "groups": []
      },
      "cells": [
        {
          "model": "data.linkcell",
          "fields": {
            "placeholder": "content",
            "order": 1,
            "slug": "",
            "extra_css_class": "",
            "public": true,
            "restricted_to_unlogged": false,
            "last_update_timestamp": "2021-02-22T10:38:17.448Z",
            "title": "Administrer les d\u00e9marches de ${TITLE}",
            "url": "https://${SLUG}.${WCS_SUBDOMAIN}${ENV}.${DOMAIN}/backoffice/management/listing",
            "link_page": null,
            "anchor": "",
            "groups": []
          }
        }
      ]
    }
  ],
  "map-layers": [],
  "assets": [],
  "pwa": {
    "settings": {},
    "navigation": []
  },
  "payment": {
    "backends": [],
    "regies": []
  }
}
